LICENSE filter=lfs diff=lfs merge=lfs -text
module_ctx.go filter=lfs diff=lfs merge=lfs -text
ninja_writer_test.go filter=lfs diff=lfs merge=lfs -text
blueprint.bash filter=lfs diff=lfs merge=lfs -text
bpfmt filter=lfs diff=lfs merge=lfs -text
go.mod filter=lfs diff=lfs merge=lfs -text
package_ctx.go filter=lfs diff=lfs merge=lfs -text
bootstrap.bash filter=lfs diff=lfs merge=lfs -text
CODEOWNERS filter=lfs diff=lfs merge=lfs -text
glob_test.go filter=lfs diff=lfs merge=lfs -text
ninja_strings.go filter=lfs diff=lfs merge=lfs -text
context_test.go filter=lfs diff=lfs merge=lfs -text
deptools filter=lfs diff=lfs merge=lfs -text
live_tracker.go filter=lfs diff=lfs merge=lfs -text
OWNERS filter=lfs diff=lfs merge=lfs -text
PREUPLOAD.cfg filter=lfs diff=lfs merge=lfs -text
microfactory filter=lfs diff=lfs merge=lfs -text
module_ctx_test.go filter=lfs diff=lfs merge=lfs -text
ninja_writer.go filter=lfs diff=lfs merge=lfs -text
provider.go filter=lfs diff=lfs merge=lfs -text
visit_test.go filter=lfs diff=lfs merge=lfs -text
gotestrunner filter=lfs diff=lfs merge=lfs -text
loadplugins filter=lfs diff=lfs merge=lfs -text
Blueprints filter=lfs diff=lfs merge=lfs -text
bootstrap filter=lfs diff=lfs merge=lfs -text
bpmodify filter=lfs diff=lfs merge=lfs -text
CONTRIBUTING.md filter=lfs diff=lfs merge=lfs -text
doc.go filter=lfs diff=lfs merge=lfs -text
glob.go filter=lfs diff=lfs merge=lfs -text
ninja_strings_test.go filter=lfs diff=lfs merge=lfs -text
provider_test.go filter=lfs diff=lfs merge=lfs -text
splice_modules_test.go filter=lfs diff=lfs merge=lfs -text
tests filter=lfs diff=lfs merge=lfs -text
mangle.go filter=lfs diff=lfs merge=lfs -text
name_interface.go filter=lfs diff=lfs merge=lfs -text
ninja_defs.go filter=lfs diff=lfs merge=lfs -text
proptools filter=lfs diff=lfs merge=lfs -text
README.md filter=lfs diff=lfs merge=lfs -text
singleton_ctx.go filter=lfs diff=lfs merge=lfs -text
blueprint_impl.bash filter=lfs diff=lfs merge=lfs -text
context.go filter=lfs diff=lfs merge=lfs -text
gotestmain filter=lfs diff=lfs merge=lfs -text
parser filter=lfs diff=lfs merge=lfs -text
pathtools filter=lfs diff=lfs merge=lfs -text
scope.go filter=lfs diff=lfs merge=lfs -text
